.eunit
*.o
*.beam
*.plt
erl_crash.dump
.concrete/DEV_MODE

# rebar 2.x
.rebar
rel/example_project
ebin/*.beam
deps

# rebar 3
.rebar3
_build/
_checkouts/

 WindowsFormsApp1/WindowsFormsApp1/log.txt
 WindowsFormsApp1/.vs/WindowsFormsApp1/v16/.suo
